* {
    margin:          0;
    padding:         0;
}

html {
    font-size:       1em;
}

body {
    background:      #e5e5e5;
    color:           #23231a;
    display:         flex;
    flex-direction:  column;
    font-family:     sans-serif;
    line-height:     1.45;
    min-height:      100vh;
}

.container {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    flex:            1;
    justify-content: center;
    text-align:      center;
}

.logo {
    display: flex;
    max-width: 24rem;
    width: 100%;
    padding: 20px;
}

img {
    width: 100%;
    height: auto
}


.footer {
    text-align:      center;
}

p {
    margin-bottom:   1.3rem;
}

h1 {
    font-size:       3.998rem;
    line-height:     1.2;
    margin:          0 0 0.5rem;
}
